.parent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 88px;

}
.pen{
    display: flex;

}
.group{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 18px;
    top: 24px;
}

.text{
    margin: 0;
    width: 216px;
    text-align: center;
}

.userName{
    color: #3B7976;
    font-family: 'Roboto',serif;
}

.date{
    color: #3B7976;
    font-family: 'Roboto',serif;
}

.vector{
    width: 85px;
    height: 80px;
}
.userReview{
    font-family: 'Roboto',serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #254F4C;
    margin-left: 30px;
}

.userComments{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 1102px;
}
