.contactsPage{
    width: 1200px;
    margin: 0 auto;
}

.contacts{
    height: 805px;
    border: 1px solid lightgoldenrodyellow;
    margin-left: -14px;
    margin-right: 12px;
}

.contact h1{
    margin-left: 38%;
    margin-top: 6rem;
    font-family: Roboto,serif;
    font-size: 40px;
    font-weight: 500;
    color: red;
}
.contactsBlock{
    height: 250px;
    border: 1px solid white;
    display: flex;
}

.address1 {
    margin: 20px 150px;
}

.address2{
    margin: 20px;
}

.workingHours{
    color: gray;
    margin-bottom: 5px;
}
.whatsApp{
    color: black;
    margin-bottom: 40px;
}
.gps {
    margin-left: 40px;
}

